__pycache__/
*.py[cod]
.venv/
.env
xray/
vless_config.txt
nima_instagram_session.json
location_data.json
posts_data.json
private_users.json
public_users.json
request_follow.json
request_like.json
request_story_seen.json
request_story_like.json
stats.json
activity_history.json
*.log
*.tmp
